<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.new_year_new_hacks">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.New_Year_New_Hacks">
        <activity android:name=".MoodDetectorActivity"></activity>
        <activity android:name=".AngerGif" />
        <activity android:name=".AnxietyGif" />
        <activity android:name=".SadnessGif" />
        <activity android:name=".ChooseMood" />
        <activity android:name=".ExercisesPage" />
        <activity android:name=".WelcomePage" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>